@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:wght@100..900&display=swap'); /*(importa tipo letra)*/

body {
    font-family: 'Sour Gummy', sans-serif; 
    background-color: white; 
    margin: 0;
    padding: 0;
    overflow: hidden; /* (remover scroll) */
    height: 100vh; 
}

header {                                        /*(navBar)*/
    background-color: black; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.logo-img {
    width: 40px;  
    height: auto;
    margin-right: 10px; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: black; 
    text-decoration: none;
    padding: 10px 15px;
    background: white; 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* (Transicao do botao) */
}

nav ul li a:hover {
    background-color: black; 
    color: white; 
}

nav ul li a.active {
    background-color: black; 
    color: white; /* (Link Ativo) */
}

.content {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    gap: 50px;
    padding: 50px;
    position: relative; 
}

.image-container {
    width: 50%; 
    position: absolute;
    top: 0;
    left: 0; 
    height: auto; 
}

.feed-image {
    width: 70%; 
    height: auto; 
}

.text-container {
    max-width: 50%; 
    text-align: left; 
    z-index: 1; 
}

.text-container h1 {
    font-size: 36px;
    font-weight: 700;
}

.text-container p {
    font-size: 20px;
    line-height: 1.6;
    margin: 20px 0; 
}

.feed-btn {
    background-color: black; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 15px 30px; 
    font-size: 20px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Sour Gummy', sans-serif;  
}

.feed-btn:hover {
    background-color: white; 
    color: black; 
    transform: scale(1.05); 
}
