@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:wght@100..900&display=swap');          /*(importa tipo letra)*/


/*
NÂO MEXER POIS ESTE CÓDIGO MEXE COM A NAV BAR E O INDEX
*/

body {
    font-family: 'Sour Gummy', sans-serif; 
    background-color: white; 
    margin: 0;
    padding: 0;
    overflow: hidden; /* (remover scroll) */
    height: 100vh; 
}

header {                                        /*(navBar)*/
    background-color: black; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.logo-img {
    width: 40px;  
    height: auto;
    margin-right: 10px; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: black; 
    text-decoration: none;
    padding: 10px 15px;
    background: white; 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* (Transicao do botao) */
}

nav ul li a:hover {
    background-color: black; 
    color: white; 
}

nav ul li a.active {
    background-color: black; 
    color: white; /* (Link Ativo) */
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 80px); 
    overflow: hidden;
    position: relative; 
}

.hero img {
    max-height: 100%;
    object-fit: contain; 
}
                                                    
.text-box {
    max-width: 50%; 
    padding: 50px; 
}

.text-box h1 {
    font-size: 48px; 
    font-weight: 700;
}

.text-box p {
    font-size: 24px; 
    line-height: 1.6;
}

                                                     /* (linha div) */
.divider {
    border: none;
    height: 3px;
    background: black;
    margin: 10px 0;
}

                                                        /*(Botao Registar)*/
.register-btn {
    background-color: black; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 15px 30px; 
    font-size: 20px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    font-family: 'Sour Gummy', sans-serif; 
    
}

.register-btn:hover {
    background-color: white; 
    color: black; 
    transform: scale(1.05); 
}