@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:wght@100..900&display=swap');

body {
    font-family: 'Sour Gummy', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    background: white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: black;
    color: white;
}

.LE-BUTTON:hover,
.LE-BUTTON.active {
    background-color: white;
    color: red;
}